<!DOCTYPE html>
<html ng-app="lcpoints" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Definitive list of everything you need to take to College, all in one easy-to-use place.">
  <title>Leaving Certificate Points Calculator</title>

  <link href="css/app.css" rel="stylesheet">

</head>
<body ng-controller="PointsController">
  <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

  <header>
    <h1>Leaving Certificate Points Calculator</h1>
  </header>

  <section id="boxes">
    <section ng-repeat="(index, box) in boxes">

      <label for="subjects{{index}}">Subject</label>
      <select id="subjects{{index}}" class="subject" ng-model="box.name" ng-change="updateSubject(index)" tabindex="0">
        <option ng-repeat="subject in subjects" ng-value="subject.name">{{subject.name}}</option>
      </select>

      <fieldset class="radiogroup button-group" id="level" role="radiogroup" aria-labelledby="level_label">
        <legend id="level_label">Level</legend>
        <span ng-repeat="level in box.possibleLevels" title="{{level}}">
          <input id="level_{{index}}_{{$index}}" type="radio" name="level_{{index}}" ng-model="box.level" ng-value="level" ng-change="updateLevel(index)" tabindex="0">
          <label for="level_{{index}}_{{$index}}">{{level | limitTo:1}}</label>
        </span>

        <span ng-if="box .possibleLevels.length === 0">
          <span>
            <input type="radio" ng-disabled="true">
            <label title="Higher">H</label>
          </span>
          <span>
            <input type="radio" ng-disabled="true">
            <label title="Ordinary">O</label>
          </span>
        </span>
      </fieldset>

      <label for="grade{{index}}">Grade</label>
      <select id="grade{{index}}" class="grade" ng-repeat="grade in grades" ng-if="box.level === grade.name" ng-model="box.grade" ng-change="updateGrade(index)" tabindex="0">
        <option ng-value="mark.name" ng-repeat="mark in grade.weight">{{mark.name}}</option>
      </select>
      <select id="grade{{index}}" class="grade" ng-if="box.level.length === 0" ng-disabled="true"></select>

      <hr>
    </section>

    <button class="add-box" ng-click="addBox()">
      Add another subject +
    </button>
  </section>

  <footer>
    <h1>Your Total Points: {{points}}</h1>
  </footer>


  <script src="js/0-vendor/angular.min.js"></script>
  <script src="js/0-vendor/angular-aria.min.js"></script>
  <!--<script src="assets/javascripts/angular.js"></script>-->
  <script src="js/main.js"></script>

</script>
</body>
</html>