<!DOCTYPE html>
<html ng-app="lcpoints" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Definitive list of everything you need to take to College, all in one easy-to-use place.">
  <title>Things To Take To College</title>

  <!-- Bootstrap -->
  <link href="css/app.css" rel="stylesheet">

</head>
<body ng-controller="PointsController">
    <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

    <header>
        <h1>Leaving Certificate Points Calculator</h1>
    </header>

    <section ng-repeat="box in boxes"   >
        <label for="subjects">Subject</label>
        <select id="subjects" name="subjects">
            <option value="{{box.shorthand}}" selected>{{box.name}}</option>
            <option value="{{subject.shorthand}}" ng-repeat="subject in subjects">{{subject.name}}</option>
        </select>
        <label for="level">Level</label>
        <label ng-repeat="level in box.possibleLevels">
            <input type="radio" id="level" name="level">{{level}}
        </label>
        <span ng-repeat="grade in grades">
        <select id="grade" name="grade" ng-if="box.level === grade.inital" >
                <option value="" ng-repeat="mark in grade.weight">{{mark.name}}</option>
            </select>
        </span>
        <hr>
    </section>
    <section ng-click="addBox()">
        <span>Add another subject</span>
    </section>
</section>

<footer>
    <h1>Your Total Points:</h1>
</footer>


<script src="js/0-vendor/angular.min.js"></script>
<!--<script src="assets/javascripts/angular.js"></script>-->
<script src="js/main.js"></script>

</script>
</body>
</html>