#boxes
  padding: rem(10px)
  margin-bottom: $h5-font-size * 3

  .link, .add-box
    cursor: pointer
  .link
    color: $base-link-color
    text-decoration: underline
    &:hover
      color: $hover-link-color
  .add-box
    width: 100%

fieldset
  background: $base-background-color
  border: none
  padding: 0



select
  padding: 2px
  .subject
    width: rem(320px)
  .grade
    width: rem(20px)