footer
  position: fixed
  bottom: 0
  background: $blue-gray
  color: #fff
  width: 100%
  border-top: 4px solid shade($blue-gray, 40)
  padding: rem(10px)
  text-align: center
  h1
    font-size: $h5-font-size
    margin: 0

